.gitignore
app.json
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# macOS
.DS_Store

# local properties
.env

# Expo related files
/node_modules
.expo

# Platform-specific files
/ios/
/android/

/android/.gradle
/android/build

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production
